@media (min-width: 1024px) {
  .burger {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  .wrapper {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 2px 2px #e2e2e2;
    overflow: hidden;
  }
  /*------------------------------------------*/
  /*      Header           */
  /*------------------------------------------*/

  #header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
    width: 100%;
    height: 172px;
    margin: 0 auto;
  }
  .top_head {
    width: 100%;
    height: 45px;
  }
  .top_head_container {
    width: 1025px;
    padding: 0;
  }
  .right_side {
    padding-right: 11px;
  }
  .list_facebook {
    padding: 0;
  }
  .header_facebook {
    width: 26px;
    height: 26px;
    margin: 0 0 0 0;
    transform: translate(-1px, -2px);
  }
  .header_facebook:hover {
    box-shadow: 0 0 5px #18a8ff;
  }
  /*    Logotype     */
  .head-container {
    height: 120px;
    flex: 0 1 1022px;
    display: flex;
    justify-content: space-between;
  }
  .logotype {
    flex: 0 0 245px;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .logo {
    width: 74px;
    height: 49px;
    background: #dd2a24;
    align-self: center;
  }
  .name {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .name h1 {
    font-size: 37px;
  }
  .tagline {
    font-size: 15px;
  }
  h1 {
    font-weight: 700;
    margin: 0;
  }
  /*        Right Side        */
  .right_head {
    flex: 0 1 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /*         Navigation         */
  .nav {
    display: block;
    margin: 0;
    flex: 1 1 50%;
    position: relative;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    position: static;
    background: white;
  }
  .menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    max-width: 100%;
    margin: 0;
  }
  .menu ul li:not(:last-child) {
    position: relative;
    display: flex;
    margin: 0 19px;
  }
  .menu ul li:nth-child(4) {
    margin-right: 32px;
  }
  .menu ul li a {
    text-transform: none;
    color: #424242;
    font-weight: 700;
    font-size: 16px;
  }
  .menu ul li a:hover {
    color: #dd2a24;
  }
  .menu ul li:not(:first-child):not(:last-child):before {
    content: "";
    background: #424242;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    position: absolute;
    top: 6px;
    left: -21px;
  }
  .consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    height: 36px;
    flex: 0 1 171px;
    background: #de2b24;
    margin: 0;
  }
  .consultation:hover {
    box-shadow: 0 0 5px red;
    cursor: pointer;
  }

  /*-----------------------------------------*/
  /*        Section 1            */
  /*-------------------------------------------*/

  #aboutUs {
    margin: 0 auto;
  }
  /*------------------Section 1.1------------------*/
  .preview {
    position: relative;
    display: flex;
    align-items: center;
    position: static;
    width: 100%;
    height: 590px;
  }
  .slider {
    height: 590px;
  }
  .preview h2 {
    display: block;
    font-size: 360%;
    transform: translate(0, -33px);
  }
  .preview p {
    font-size: 205%;
    transform: translate(0, -38px);
  }
  .section_consultation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8cd53;
    width: 330px;
    height: 70px;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 170%;
    letter-spacing: 1px;
    font-weight: 700;
    transform: translate(0, -34px);
  }
  /*-----------------Section 1.2----------------------*/
  #about {
    width: 100%;
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: space-around;
    padding-top: 95px;
  }
  .about_body {
    height: 445px;
    display: flex;
    justify-content: flex-start;
  }
  .section_name {
    width: 100%;
    justify-content: flex-start;
  }
  .about_container {
    width: 940px;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .about_box {
    height: 100px;
    min-width: 260px;
    line-height: 160%;
    flex: 0 1 26%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .about_box h3 {
    font-size: 22px;
  }
  .about_box p {
    margin-top: -10px;
  }
  .section_name p {
    font-size: 20px;
  }
  .section_name h2 {
    font-size: 37px;
  }

  /*----------------------------------------------------*/
  /*---------------- Approch Section -------------------*/
  /*----------------------------------------------------*/

  #approch {
    display: flex;
    justify-content: center;
    padding: 80px 0 97px 0;
  }
  .approch_container {
    max-width: 1020px;
    height: 1235px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    margin-top: 0px;
    padding-bottom: 0;
  }
  .for_odd {
    display: flex;
    align-items: space-between;
    flex-wrap: wrap;
    height: 1095px;
    margin-top: 0;
  }
  .approch_box {
    height: 237px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #e2e2e2;
    background-color: #ffffff;
    overflow: hidden;
  }
  .approch_img {
    height: 100%;
    display: flex;
    flex: 0 0 340px;
    position: relative;
  }
  .approch_img img {
    height: 100%;
    object-fit: cover;
  }
  .approch_text {
    display: flex;
    align-items: center;
    padding: 0 70px 0 90px;
  }
  #approch h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  .approch_text p {
    font-size: 14px;
    line-height: 22px;
  }
  .approch_step {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #de2b24;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100%;
    bottom: 50%;
  }
  .approch_step > div {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .approch_step h2 {
    font-size: 46px;
    line-height: 35px;
  }
  .approch_step p {
    font-size: 20px;
    line-height: 21px;
  }

  /*--------- For Odd Box -------------*/
  .for_odd :nth-child(2n) .approch_step {
    left: 0;
    bottom: 50%;
  }
  .for_odd :nth-child(2n) .approch_text {
    order: 1;
    padding: 0 90px 0px 70px;
    justify-content: flex-end;
  }
  .for_odd :nth-child(2n) .approch_text h4 {
    text-align: end;
  }
  .for_odd :nth-child(2n) .approch_text p {
    text-align: end;
  }
  .for_odd :nth-child(2n) .approch_img {
    order: 2;
  }

  /*-----------------------------------------*/
  /*             Work Section                */
  /*-----------------------------------------*/

  #work {
    padding: 100px 0 130px 0;
  }
  .work_container {
    margin: 5px 0 0 0;
  }
  .work_box {
    height: 253px;
    overflow: hidden;
  }
  .work_box_text h4 {
    font-size: 30px;
  }
  .work_box:nth-child(even) .work_box_name {
    order: 1;
  }
  .work_box:nth-child(even) .work_box_img {
    order: 2;
  }
  .work_box:nth-child(n + 3) .work_box_name {
    order: 2;
  }
  .work_box:nth-child(n + 3) .work_box_img {
    order: 1;
  }

  /*----------------------------------------------*/
  /*---------------- Form Section ----------------*/
  /*----------------------------------------------*/

  #form {
    display: flex;
    justify-content: center;
    padding: 90px 0 0px 0;
    height: 757px;
  }
  #form h2 {
    letter-spacing: 1px;
  }
  .form_body {
    max-width: 683px;
    display: flex;
    justify-content: space-between;
  }
  .form_container {
    margin-bottom: 112px;
  }
  .button:hover {
    box-shadow: 0 0 5px red;
    cursor: pointer;
  }

  /*----------------------------------------------*/
  /*--------------Touch Section-------------------*/
  /*----------------------------------------------*/

  #touch {
    height: 490px;
  }
  .touch_name h2 {
    font-size: 30px;
  }
  .touch_body {
    height: 320px;
  }
  .touch_icon {
    width: 46px;
    height: 46px;
    margin-top: -10px;
  }
  .touch_input {
    max-width: 677px;
    text-indent: 18px;
  }
  .touch_input:hover {
    box-shadow: 0 0 5px white;
    cursor: pointer;
  }
  .touch_button {
    width: 153px;
    height: 53px;
  }
  .touch_button:hover {
    box-shadow: 0 0 5px white;
    cursor: pointer;
  }
  footer {
    height: 67px;
  }
  footer a {
    transform: translate(-5px, -3px);
  }
}
